<header>
    <div class="logo-container">
        <a href="../index.html" class="logo-link">
            <img src="../assets/img/global/logo-shine.svg" alt="logo background" class="header-logo-bg">
            <img src="../assets/img/global/logo.svg" alt="logo" class="header-logo">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </a>
    </div>
    <nav>
        <ul class="nav-bar">
            {% for page in site.pages %}
                {% if page.title != null%}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>