<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DUSK Digital</title>
    <link rel="icon" href="/assets/img/favicons/favicon-32x32.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--include stylesheets here-->
    <link rel="stylesheet" href="/assets/css/header-style.css">
    <link rel="stylesheet" href="/assets/css/responsive-nav-style.css">
    <link rel="stylesheet" href="/assets/css/main-style.css">
    <link rel="stylesheet" href="/assets/css/mission-style.css">
    <link rel="stylesheet" href="/assets/css/footer-style.css">
    {% if page.title == "Index" or page.title == "Thank-You" %}
        <link rel="stylesheet" href="/assets/css/index-style.css">
    {% endif %}
    {% if page.title == "Work" %}
        <link rel="stylesheet" href="/assets/css/work-style.css">
    {% endif %}
    {% if page.layout == "client" %}
        <link rel="stylesheet" href="/assets/css/client-style.css">
    {% endif %}
    {% if page.title == "About" %}
        <link rel="stylesheet" href="/assets/css/about-style.css">
    {% endif %}
    {% if page.title == "People" %}
        <link rel="stylesheet" href="/assets/css/people-style.css">
    {% endif %}
    {% if page.title == "Contact" %}
        <link rel="stylesheet" href="/assets/css/contact-style.css">
    {% endif %}
    <!--end  stylesheets-->
</head>