@media screen and (min-width: 768px)
{
    .tagline{
        margin-top: 85px;
        margin-bottom: 0;
    }
    .img-container{
        margin-top: 70px;
        margin-bottom: 0;
    }
    .pitch-container{
        margin-top: 80px;
        margin-bottom: 0;
    }
    .services-container{
        margin-top: 35px;
        margin-bottom: 170px;
    }
    .selected-clients-container{
        margin-top: 104px;
        margin-bottom: 244px;
    }
    .pitch-container p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
}
@media screen and (max-width: 768px){
    .tagline{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .img-container{
        margin-top: 25px;
        margin-bottom: 80px;
    }
    .pitch-container{
        margin-top: 64px;
        margin-bottom: 0;
    }
    .services-container{
        margin-top: 40px;
        margin-bottom: 130px;
    }
    .selected-clients-container{
        margin-top: 64px;
        margin-bottom: 84px;
    }
    .pitch-container p{
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }
}
@media screen and (max-width: 668px){
    .tagline h2{
        font-size: 25px;
        line-height: 35px;
    }
    .pitch-container h1{
        font-size: 30px;
        line-height: 40px;
    }
    .services-container h2{
        font-size: 25px;
        line-height: 35px;
    }
}
@media screen and (max-width: 480px){
    .tagline{
        margin-top: 35px;
        margin-bottom: 0;
    }
    .img-container{
        margin-top: 10px;
        margin-bottom: 90px;
    }
    .pitch-container{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .services-container{
        margin-top: 40px;
        margin-bottom: 110px;
    }
    .selected-clients-container{
        margin-top: 40px;
        margin-bottom: 120px;
    }
}

/*tagline font scaling
@media screen and (min-width: 800px) {
    .tagline{
        margin-left: 50px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 800px) {
    .tagline{
        margin-left: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .tagline{
        margin-left: 20px;
        margin-left: 20px;
    }
}
/*END FONT SCALING*/

.tagline{
    /*margin-left: 50px;
    margin-right: 50px;*/
    max-width: 500px;
}

@keyframes rotate-img {
    0%  { transform: rotate(0deg)}
    100%{ transform: rotate(360deg) }
}

/*Time ref circle scaling*/
@media screen and (min-width: 980px){
    .time-circle{
        width: 150px;
        height: 150px;
        border-width: 8px;
    }
    
    .time-ref{
        position: absolute;
        bottom: 90%;
        right: 16%;
    }
    
    .time-ref img{
        position: absolute;
        right: -35%;
        width: 50px;
        height: 50px;
    }
    
    .img-container{
        margin-top: 180px;
    }
}
@media screen and (max-width: 980px){
    .time-circle{
        width: 122px;
        height: 122px;
        border-width: 8px;
    }
    
    .time-ref{
        position: absolute;
        bottom: 90%;
        right: 18%;
    }
    
    .time-ref img{
        position: absolute;
        right: -35%;
        width: 40px;
        height: 40px;
    }
    
    .img-container{
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px){
    .time-circle{
        width: 61px;
        height: 61px;
        border-width: 5px;
    }
    
    .time-ref{
        position: absolute;
        bottom: 92.5%;
        margin-right: 5%;
    }
    
    .time-ref img{
        position: absolute;
        right: -35%;
        width: 17px;
        height: 17px;
    }
    .img-container{
        margin-top: 60px;
    }
}
/*-----------------------*/

.time-ref{
    z-index: 1;
    float: right;
    display: inline;
}

.time-ref img{
    animation: rotate-img  20s linear infinite;
    float: right;
}

.time-circle{
    margin-top: 3%;
    display: inline-block;
    float: right;
    
    border-radius: 50%;
    border-style: solid;
    border-color: #ff7660;
}

.img-container{
    position: relative;
    max-width: 100%;
   /* margin-left: 20px;
    margin-right: 20px;
    /*margin-top: 100px;
    margin-bottom: 75px;*/
}

.img-container img{
    z-index: -1;
}

/*pitch-container font scaling*/
@media screen and (max-width: 1000px) {
    .pitch-container h1{
        text-align: left;
        /*padding-right: 20px;
        padding-left: 20px;*/
    }
    .pitch-container h3{
        text-align: left;
        padding-right: 20px;
        padding-left: 20px;
    }
}
/*END FONT SCALING*/

.pitch-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.pitch-container h3{
    margin-top: 0px;
    margin-bottom: 0;
    color: #222;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.pitch-container h1{
    margin-bottom: 0px;
}

.pitch-container p{
    margin-bottom: 4px;
}

.h-line{
    border-bottom-style: solid;
    border-bottom-color: #ff7660;
    border-bottom-width: 2px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: inline;
}

/*services-container scaling*/
@media screen and (min-width: 1040px) {
    .services-container div{
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media screen and (max-width: 1040px) {
    .services-container div{
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
}
/*END FONT SCALING*/

.services-container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
}

.services-container div{
    
    text-align: left;
}

.services-container div h2{
    margin-top: 40px;
}

.services-container div ul{
    list-style-type: square;
}

.services-container div ul li{
    margin: 4px;
    font-family: 'Helvetica Neue', Helvetica, helvetica, sans-serif;
    color: #575757;
    font-weight: 300;
    line-height: 26px;
    font-size: 18px;
    white-space: normal;
}

.selected-clients-container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 100%;
    background-color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
}

.selected-clients-container h6{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 5px;
    color: #757575;
}

.selected-clients-container h2{
    margin: 0;
    max-width: 600px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.client-logos-container{
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    min-width: 60%;
    box-sizing: border-box;
    white-space: nowrap;
}

.log-img-container{
    position: relative;
    float: left;
    margin: 0;
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
}

.client-logos-container img{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

/*alter the max width of the content container for the about page*/
@media screen and (min-width: 768px){
    .content-container{
        max-width: 75%;
    }
}
@media screen and (max-width: 768px){
    .content-container{
        max-width: 90%;
    }
}

/*nav bar scaling*/
@media screen and (min-width: 768px){
    .header-container{
        max-width: 75%;
    }
}
@media screen and (max-width: 768px){
    .header-container{
        max-width: 90%;
    }
}