.tagline{
margin-left: 50px;
margin-right: 50px;
max-width: 500px;
}

.img-container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 75px;
}

.pitch-container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    max-width: 800px;
    text-align: center;
}

.pitch-container h3{
    margin-top: 0px;
    margin-bottom: 0;
    color: #222;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.pitch-container h1{
    margin-bottom: 0px;
}

.h-line{
    border-bottom-style: solid;
    border-bottom-color: #ff7660;
    border-bottom-width: 2px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    display: inline;
}

.services-container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
    text-align: center;
    max-width: 800px;
}

.services-container div{
    display: inline-block;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.services-container ul{
    list-style-type: square;
}

.services-container ul li{
    margin: 10px;
    font-size: 15px;
}

.selected-clients-container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 100%;
    background-color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
}

.selected-clients-container h6{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.selected-clients-container h2{
    margin: 0;
    max-width: 600px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.client-logos-container{
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    min-width: 60%;
    box-sizing: border-box;
    white-space: nowrap;
}

.log-img-container{
    position: relative;
    float: left;
    margin: 0;
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
}

.client-logos-container img{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}