@media screen and (min-width: 768px)
{
    .quote-container{
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .images-container{
        margin-top: 104px;
        margin-bottom: 40px;
    }
    .about-container{
        margin-top: 104px;
        margin-bottom: 0;
    }
    .details-container{
        margin-top: 60px;
        margin-bottom: 0;
    }
    .quote-container q{
        font-weight: 400;
    }
    .quote-container h4{
        font-size: 16px;
        line-height: 40px;
    }
    .about-container h3{
        font-size: 20px;
        line-height: 40px;
        font-weight: 300;
    }
}
@media screen and (max-width: 768px){
    .quote-container{
        margin-top: 25px;
        margin-bottom: 0;
    }
    .images-container{
        margin-top: 64px;
        margin-bottom: 20px;
    }
    .about-container{
        margin-top: 64px;
        margin-bottom: 0;
    }
    .details-container{
        margin-top: 25px;
        margin-bottom: 64px;
    }
    .quote-container q{
        font-size:16px;
        line-height: 24px;
        font-weight: 400;
    }
    .quote-container h4{
        font-size: 12px;
        line-height: 24px;
        margin-top: 0;
    }
    .about-container h3{
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
    }
}
@media screen and (max-width: 480px){
    .quote-container{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .images-container{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .about-container{
        margin-top: 40px;
        margin-bottom: 0;
    }
    .details-container{
        margin-top: 25px;
        margin-bottom: 110px;
    }
    .quote-container q{
        font-size:16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
    }
    .quote-container h4{
        font-size: 12px;
        line-height: 24px;
        margin-top: 0;
    }
    .next-page-container{
        margin-top: 100px;
    }
}

/*@media screen and (min-width: 780px)
{
    .quote-container h4{
        font-size: 16px;
        line-height: 40px;
    }
}

@media screen and (max-width: 780px)
{
    .quote-container h4{
        font-size: 12px;
        line-height: 24px;
    }
}*/

.quote-container{
    max-width: 800px;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    /*margin-bottom: 100px;
    margin-top: 0px;*/
    
}

.quote-container h4{
    color: #19191f;
}

/*img container styles*/
.images-container{
    display: inline-block;
    max-width: 1500px;
    /*margin-bottom: 150px;*/
    padding: 0;
}

.images-container img{
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
}

.small-image-container{
    margin: 0;
    padding: 0;
}

.small-image-container img{
    display: inline-block;
    position: relative;
    width: 50%;
    float: left;
}
/*END IMG CONTAINER STYLES*/

.about-container{
    display: inline;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*@media screen and (min-width: 780px)
{
    .about-container h3{
        font-size: 20px;
        line-height: 40px;
    }
}

@media screen and (max-width: 780px)
{
    .about-container h3{
        font-size: 16px;
        line-height: 30px;
    }
}*/

.about-container h3{
    padding-left: 50px;
    padding-right: 50px;
    /*padding-bottom: 100px;*/
}

/*details container styles*/
@media screen and (min-width: 1020px){
    .details-container div{
        display: inline-block;
    }
}
@media screen and (max-width: 1020px){
    .details-container div{
        display: block;
    }
}

.details-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details-container div{
    vertical-align: top;
    text-align: left;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
}

.details-container div ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 25px;
}

.details-container div ul li{
    display: inline;
    padding: 3px;
    border-radius: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #8B8B8B;
    font-size: 10px;
    line-height: 20px;
}

@media screen and (min-width: 365px)
{
    .services-section h3{
        font-size: 20px;
    }
    .client-section h3{
        font-size: 20px;
    }
    .website-section h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 365px)
{
    .services-section h3{
        font-size: 16px;
    }
    .client-section h3{
        font-size: 16px;
    }
    .website-section h3{
        font-size: 16px;
    }
}

.services-section h3{
    font-weight: 700;
    line-height: 30px;
    font-family: 'Helvetica Neue', Helvetica, helvetica, sans-serif;
}

.client-section h3{
    font-weight: 700;
    line-height: 30px;
    font-family: 'Helvetica Neue', Helvetica, helvetica, sans-serif;
}

.client-section h4{
    font-size: 20px;
    line-height: 22px;
    font-family: "leitura_newsroman", Georgia, Cambria, "Times New Roman", Times, serif;
}

.website-section h3{
    font-weight: 700;
    line-height: 30px;
    font-family: 'Helvetica Neue', Helvetica, helvetica, sans-serif;
}

.website-section h4{
    font-size: 20px;
    line-height: 22px;
    font-family: "leitura_newsroman", Georgia, Cambria, "Times New Roman", Times, serif;
}

.website-section{
    font-family: "leitura_newsroman", Georgia, Cambria, "Times New Roman", Times, serif;
}


/*END DETAILS CONTAINER STYLES*/

a{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    text-decoration: none;
    color: #ff7660;
}

a: hover{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    text-decoration: underline
    color: #000;
}

.next-page-link:hover > div h2{
    color: #000;
}

.next-page-container{
    display: block;
    transition: .2s linear;
    background-color: #383838;
    margin-bottom: 0;
    padding-bottom: 70px;
    padding-top: 70px;
    text-decoration: none;
    box-sizing: border-box;
    text-align:center;
}

.next-page-container:hover{
    background-color: #ff7660;
    color: #000;
    text-decoration: none;
}

.next-page-name{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 85%;

}

@media screen and (min-width: 780px){
    .next-page-name h1{
        font-size: 32px;
    }
}
@media screen and (max-width: 780px){
    .next-page-name h1{
        font-size: 24px;
    }
}

.next-page-name h2{
    transition: .2s linear;
    margin-bottom: 0;
    color: #ff7660;
    font-size: 20px;
    text-decoration: none;
}

.next-page-name h1{
    margin-top: 0;
    color: #fff;
    text-decoration: none;
    font-family: 'Helvetica Neue', "Helvetica", helvetica, sans-serif;
    line-height: 30px;
}

.next-page-link{
    text-decoration: none;
    transition: none;
}

.next-page-link:hover{
    text-decoration: none;
    transition: none;
}

.next-page-link:link{
    text-decoration: none;
    transition: none;
}