.quote-container{
    max-width: 800px;
    margin-left: 50px;
}

/*img container styles*/
.images-container{
    display: inline-block;
    max-width: 1500px;
    margin-bottom: 100px;
    padding: 0;
}

.images-container img{
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
}

.small-image-container{
    margin: 0;
    padding: 0;
}

.small-image-container img{
    display: inline-block;
    position: relative;
    width: 50%;
    float: left;
}
/*END IMG CONTAINER STYLES*/

.about-container{
    display: inline;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/*details container styles*/
.details-container{
    display: inline;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details-container div{
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
}

.details-container div ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.details-container div ul li{
    display: inline;
    padding: 2px;
    color: #fff;
    background-color: #8B8B8B;
    font-size: 9px;
    
}


/*END DETAILS CONTAINER STYLES*/

a{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    text-decoration: none;
    color: #ff7660;
}

a: hover{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    text-decoration: underline
    color: #000;
}