footer{
    background-color: #222;
    color: #8B8B8B;
    height: 80px;
    width: 100%;
}

.buttons-container h6{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17px;
    margin-right: 0;
    position: absolute;
    top: 50%;
    font-family: 'Helvetica Neue', "Helvetica", helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: visible;
    width: 0px;
    float: left;
}

.buttons-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #222;
}

.twitter-button{
    float: right;
    display: inline-block;
    background-color: #383838;
    background-image: url('/assets/img/favicons/Twitter_Logo_WhiteOnImage.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 35px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.twitter-button:hover{
    float: right;
    display: inline-block;
    background-color: #ff7660;
    background-image: url('/assets/img/favicons/Twitter_Logo_WhiteOnImage.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 35px;
    transform: scale(1.2);
}

.dribbble-button{
    float: right;
    display: inline-block;
    background-color: #383838;
    background-image: url('/assets/img/favicons/dribbble-16.ico');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 15px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.dribbble-button:hover{
    float: right;
    display: inline-block;
    background-color: #ff7660;
    background-image: url('/assets/img/favicons/dribbble-16.ico');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   margin-top: 35px;
    margin-right: 15px;
    transform: scale(1.2);