/*header scaling*/
@media screen and (min-width: 1600px){
    header{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media screen and (max-width: 1600px){
    header{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width: 1400px){
    header{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 1200px){
    header{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 400px){
    header{
        padding-left: 3%;
        padding-right: 1%;
    }
}
/*END HEADER SCALING*/

header{
    display: block;
}

nav{
    margin-top: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px){
    .logo-container{
        margin-top: 48px;
    }
}
@media screen and (max-width: 768px){
    .logo-container{
        margin-top: 27px;
    }
}

.logo-container{
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: inline-block;
    text-align: left;
}

@keyframes rotate-anim {
  0%   { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}
@-o-keyframes rotate-anim{
  0%   { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}
@-moz-keyframes rotate-anim{
  0%   { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}
@-webkit-keyframes rotate-anim{
  0%   { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}

@media screen and (max-width: 800px) {
    .nav-bar a{
        display: none;
    }
    
    .nav-bar li{
        opacity: 0;
    }
}

.header-logo-bg{
    width: 35px;
    display: inline-block;
    margin:0;
    padding: 0;
    position: relative;
    left: 10px;
    top: -13px;
}

.logo-link{
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo-link:hover > .header-logo-bg{
    -webkit-animation: rotate-anim 5s infinite;
    -moz-animation: rotate-anim 5s infinite;
    -o-animation: rotate-anim 5s infinite;
    animation: rotate-anim 5s linear infinite;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    text-decoration: none;
}

.logo-link:link{
    text-decoration: none;
}

.header-logo{
    width: 85px;
    margin:0;
    padding: 0;
    position: relative;
    top: 0px;
    left: -24px;
}

.nav-bar{
    list-style-type: none;
    text-align: right;
    padding-top: 50px;
    font-family: 'Helvetica Neue',Helvetica,helvetica,sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.nav-bar li{
    display: inline;
    padding-right: 22px;
    padding-left: 22px;
    padding-left: 0;
}

.nav-bar li a{
    margin-left: 13px;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    text-decoration: none;
    color: #000;
    font-weight:700;
}

.nav-bar li:hover{
    border-bottom: 3px solid #ff7660;
    padding-bottom: 20px;
    transition: border-bottom .1s linear;
}

.nav-bar li a:link{
    text-decoration: none;
    font-weight:700;
}

.nav-bar li a:visited{
    text-decoration: none;
    font-weight:700;
}

.nav-bar li a:hover{
    text-decoration: none;
    font-weight:700;
}

.nav-bar li a:active{
    text-decoration: none;
    font-weight:700;
}
