header{
    display: inline;
    padding: 0;
    margin: 0;
}

nav{
    margin:0px;
    padding: 0px;
}

.logo-container{
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

@keyframes rotate-anim {
  0%   { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}
@-o-keyframes rotate-anim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes rotate-anim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes rotate-anim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.header-logo-bg{
    display: inline-block;
    margin:0;
    padding: 0;
    position: relative;
    left: 60px;
}

.logo-link{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo-link:hover > .header-logo-bg{
    -webkit-animation: rotate-anim 5s infinite;
    -moz-animation: rotate-anim 5s infinite;
    -o-animation: rotate-anim 5s infinite;
    animation: rotate-anim 5s linear infinite;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
}

.header-logo{
    margin:0;
    padding: 0;
    position: relative;
    top: 35px;
    left: 27px;
}

.nav-bar{
    list-style-type: none;
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;
}

.nav-bar li{
    display: inline;
    padding-right: 22px;
    padding-left: 22px;
    padding-left: 0;
}

.nav-bar li a{
    margin-left: 13px;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    text-decoration: none;
    color: #8B8B8B;
    font-weight:700;
}

.nav-bar li:hover{
    border-bottom: 3px solid #FE9D68;
    padding-bottom: 20px;
    transition: border-bottom .1s linear;
}

.nav-bar li a:link{
    text-decoration: none;
    color: #8B8B8B;
    font-weight:700;
}

.nav-bar li a:visited{
    text-decoration: none;
    color: #8B8B8B;
    font-weight:700;
}

.nav-bar li a:hover{
    text-decoration: none;
    color: #222;
    font-weight:700;
}

.nav-bar li a:active{
    text-decoration: none;
    color: #222;
    font-weight:700;
}
