::selection{
    background: #ff7660;
}

::-moz-selection{
    background: #ff7660;
}

::-webkit-selection{
    background: #ff7660;
}

::-o-selection{
    background: #ff7660;
}

body{
    padding: 0;
    margin: 0;
}