@media screen and (min-width: 768px)
{
    .mission{
        margin-bottom: 224px;
        margin-top: 0;
    }
}
@media screen and (max-width: 768px){
    .mission{
        margin-bottom: 64px;
        margin-top: 0;
    }
}
@media screen and (max-width: 480px){
    .mission{
        margin-bottom: 100px;
        margin-top: 0;
    }
}

/*Mission style*/
.mission{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.contact-link{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    display: inline-block;
    border-bottom-style: solid;
    border-color: #ff7660;
}

.contact-link:hover{
    padding-left: 15px;
    padding-right: 15px;
}

.contact-link a{
    text-decoration: none;
    color: #ff7660;
}

/* mission font scaling*/
@media screen and (min-width: 668px) {
    .mission h1{
        font-size: 40px;
        line-height: 50px
    }
    
    .contact-link{
        font-size: 40px;
        line-height: 50px
    }
}

@media screen and (max-width: 668px) {
    .mission h1{
        font-size: 30px;
        line-height: 40px
    }
    
    .contact-link{
        font-size: 30px;
        line-height: 40px
    }
}

/*END FONT SCALING*/