/*tagline font scaling*/
@media screen and (min-width: 1100px) {
    .tagline{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .tagline h2{
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .tagline{
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .tagline h2{
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 900px) {
    .tagline{
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media screen and (max-width: 600px) {
    .tagline{
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .tagline h2{
        font-size: 24px;
        line-height: 40px;
    }
}
/*END FONT SCALING*/

.tagline{
max-width: 600px;
}

/*people scaling*/
@media screen and (min-width: 1100px){
    .people-container div{
        max-width: 250px;
        padding: 10px;
    }
    .people-container div h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    .twitter-btn{
        margin-top: 150px;
    }
    .twitter-btn:hover{
        margin-top: 150px;
    }
    .dribbble-btn{
        margin-top: 150px;
    }
    .dribbble-btn:hover{
        margin-top: 150px;
    }
    .mail-btn{
        margin-top: 150px;
    }
    .mail-btn:hover{
        margin-top: 150px;
    }
    .instagram-btn{
        margin-top: 150px;
    }
    .instagram-btn:hover{
        margin-top: 150px;
    }
}
@media screen and (max-width: 1100px){
    .people-container div{
        max-width: 400px;
        padding: 10px;
    }
    .people-container div h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    .twitter-btn{
        margin-top: 250px;
    }
    .twitter-btn:hover{
        margin-top: 250px;
    }
    .dribbble-btn{
        margin-top: 250px;
    }
    .dribbble-btn:hover{
        margin-top: 250px;
    }
    .mail-btn{
        margin-top: 250px;
    }
    .mail-btn:hover{
        margin-top: 250px;
    }
    .instagram-btn{
        margin-top: 250px;
    }
    .instagram-btn:hover{
        margin-top: 250px;
    }
}
@media screen and (max-width: 850px){
    .people-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .people-container div h3{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .people-container div{
        max-width: 850px;
        padding: 0;
    }
    .twitter-btn{
        margin-top: 350px;
    }
    .twitter-btn:hover{
        margin-top: 350px;
    }
    .dribbble-btn{
        margin-top: 350px;
    }
    .dribbble-btn:hover{
        margin-top: 350px;
    }
    .mail-btn{
        margin-top: 350px;
    }
    .mail-btn:hover{
        margin-top: 350px;
    }
    .instagram-btn{
        margin-top: 350px;
    }
    .instagram-btn:hover{
        margin-top: 350px;
    }
    
}

@media screen and (max-width: 600px){
    .twitter-btn{
        margin-top: 300px;
    }
    .twitter-btn:hover{
        margin-top: 300px;
    }
    .dribbble-btn{
        margin-top: 300px;
    }
    .dribbble-btn:hover{
        margin-top: 300px;
    }
    .mail-btn{
        margin-top: 300px;
    }
    .mail-btn:hover{
        margin-top: 300px;
    }
    .instagram-btn{
        margin-top: 300px;
    }
    .instagram-btn:hover{
        margin-top: 300px;
    }
}
@media screen and (max-width: 400px){
    .twitter-btn{
        margin-top: 250px;
    }
    .twitter-btn:hover{
        margin-top: 250px;
    }
    .dribbble-btn{
        margin-top: 250px;
    }
    .dribbble-btn:hover{
        margin-top: 250px;
    }
    .mail-btn{
        margin-top: 250px;
    }
    .mail-btn:hover{
        margin-top: 250px;
    }
    .instagram-btn{
        margin-top: 250px;
    }
    .instagram-btn:hover{
        margin-top: 250px;
    }
}
/**/

.people-container{
    margin-top: 100px;
    text-align: center;
}

.people-container div h3{
    max-width: 200px;
    margin: 0;
    text-align: left;
}

.people-container div{
    vertical-align: top;
    display: inline-block;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.img-container img{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.img-container:hover > .img-overlay{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    opacity: 0.9;
}

.img-container:hover > img{
    transform: scale(1.2);
}

.img-overlay{
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    background-color: #ff7660;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-overlay div{
    text-align: center;
}


/*overlay buttons-*/
.twitter-btn{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_03-twitter_104501.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: .1s block;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.twitter-btn:hover{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_03-twitter_104501.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
}

.dribbble-btn{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_02-dribbble_104497.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.dribbble-btn:hover{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_02-dribbble_104497.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
}

.mail-btn{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_aiga_mail_134146.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.mail-btn:hover{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_aiga_mail_134146.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
}

.instagram-btn{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_Instagram_1159683.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.instagram-btn:hover{
    display: inline-block;
    background-color: #fff;
    background-image: url('/assets/img/favicons/if_Instagram_1159683.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 10px;
}