/*blurb font scaling*/
@media screen and (min-width: 800px) {
    .blurb-container{
        margin-left: 50px;
        margin-left: 50px;
    }
    
    .blurb-container h2{
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 800px) {
    .blurb-container{
        margin-left: 30px;
        margin-left: 30px;
    }
    
    .blurb-container h2{
        font-size: 32px;
        line-height: 32px;
    }
}

@media screen and (max-width: 600px) {
    .blurb-container{
        margin-left: 20px;
        margin-left: 20px;
    }
    
    .blurb-container h2{
        font-size: 24px;
        line-height: 24px;
    }
}
/*END FONT SCALING*/

.blurb-container{
    max-width: 640px;
}

.projects-container{
    margin-top: 220px;
    text-align: center;
}

.project-listing-container{
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.project-listing-container h4{
    text-align: left;
    margin: 10px;
    max-width: 350px;
}

.project-listing-container p{
    text-align: left;
    margin: 10px;
    max-width: 350px;
    font-size: 14px;
}

/*left responsive image container*/
.project-img-left{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-left a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-left a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-left:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}

/*middle responsive image container*/
.project-img-middle{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-middle a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-middle a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-middle:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}

/*right responsive image container*/
.project-img-right{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-right a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-right a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-right:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}