/*blurb font scaling*/
@media screen and (min-width: 1127px) {
    .blurb-container{
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .blurb-container h2{
        font-size: 32px;
        line-height: 32px;
    }
}

@media screen and (max-width: 1127px) {
    .blurb-container{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 900px) {
    .blurb-container{
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media screen and (max-width: 800px) {
    .blurb-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}
/*END FONT SCALING*/

.blurb-container{
    max-width: 650px;
}

/*projects listing font & image scaling*/
@media screen and (min-width: 770px){
    .project-listing-container{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    .project-listing-container h3{
        margin: 10px;
        max-width: 350px;
    }
    
    .project-listing-container p{
        margin: 10px;
        max-width: 350px;
    }
}
@media screen and (max-width: 770px) {
    
    .project-listing-container{
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100%;
    }
    
    .project-listing-container div{
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .project-listing-container h3{
        margin: 0;
    }
    
    .project-listing-container p{
        margin: 0;
    }
    
    .project-listing-container div img{
        min-width: 100%;
    }
}

/*END FONT SCALING*/

.projects-container{
    margin-top: 150px;
    text-align: center;
}

.project-listing-container{
    vertical-align: top;
}

.project-listing-container h3{
    text-align: left;
}

.project-listing-container p{
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/*left responsive image container*/
.project-img-left{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-left a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-left a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-left:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}

/*middle responsive image container*/
.project-img-middle{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-middle a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-middle a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-middle:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}

/*right responsive image container*/
.project-img-right{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.project-img-right a img{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-right a img:hover{
    transform: scale(0.9);
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.project-img-right:hover{
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    border-style: solid;
    border-width: 5px;
    border-color: #ff7660;
    padding: 0;
}